html, body, div, h1, h2, h3, h4, 
h5, h6, p, a, img, strong, b, u, 
i, ol, ul, li, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

nav {
	display: block;
}

ol, ul {
	list-style: none;
}

html {
	box-sizing: border-box;
}

body {
	background: #f5f5f5;
    color: #616161;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.65em;
	letter-spacing: -0.015em;
    line-height: 1;
	text-align: justify;
}

a {
	transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: #e89980;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #646464;
	font-weight: 300;
	line-height: 1em;
	margin: 0 0 0.5em 0;
}

h2 {
	font-size: 2.25em;
	line-height: 1.5em;
	letter-spacing: -0.035em;
}

h3 {
	font-size: 1.75em;
	line-height: 1.5em;
	letter-spacing: -0.025em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.5em;
	letter-spacing: 0;
}

.container {
	margin-top: 2em;
	margin-left: calc(30% + 2em);
	margin-bottom: 0;
	margin-right: calc(10% - 2em);
	width: 60%;
}

.box {
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 0 0 #e5e5e5;
	margin: 0 0 2em 0;
	padding: 3em;
}

.box > :last-child {
	margin-bottom: 0;
}

.box.special {
	text-align: center;
}

.image {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
	border-radius: 6px;
	border: 0;
	position: relative;
}

.image img {
	display: block;
	width: 100%;
	border-radius: 6px;
}

ol {
	list-style: decimal;
	margin: 0 0 2em 0;
	padding-left: 1.25em;
}

ol li {
	padding-left: 0.25em;
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em;
}

ul li {
	padding-left: 0.5em;
}

ul.alt {
	list-style: none;
	padding-left: 0;
}

ul.alt li {
	border-top: solid 1px #e5e5e5;
	padding: 0.5em 0;
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0;
}

@media screen and (max-width: 1680px) {

	body {
		font-size: 13pt;
	}
}

@media screen and (max-width: 1280px) {

	body {
		font-size: 11pt;
	}
}

@media screen and (max-width: 840px) {

	body {
		overflow-x: hidden;
	}

	h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

	.container {
		width: 100% !important;
	}

	.box {
		padding: 3em 2em;
	}
}

@media screen and (max-width: 736px) {

	h2 {
		font-size: 1.75em;
		line-height: 1.35em;
		letter-spacing: -0.025em;
	}

	h3 {
		font-size: 1.5em;
	}

	h4 {
		font-size: 1em;
	}

	.container {
		max-width: 100%;
	}

	.box {
		margin: 1em;
		overflow-x: hidden;
		padding: 2em 2em !important;
	}
}