/*Panel position and properties*/

#navBar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    padding: 2em;
    background-color: rgb(50, 50, 50);
    z-index: 10000;
}

#navBar nav {
    width: 100%;
}

/*Navigation menu item*/

#navBar .link {
    display: block;
    color: rgb(187, 187, 187);
    border-top: solid 1px #e5e5e5;
    text-decoration: none;
    border-bottom: 0;
    padding-left: 1em;
    height: 3em;
    line-height: 3em;
    font-weight: 400;
}

#navBar .link:first-child {
    border-top: 0;
}

/*Header of navbar*/

#navBar .link.main {
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 1em 0;
	line-height: 1.5em;
    height: 1.5em;
	letter-spacing: -0.035em;
}

/*Extra levels of list*/

#navBar .link.depth-1 {
    padding-left: 2em;
}

#navBar .link.depth-2 {
    padding-left: 3em;
}

#navBar .link.depth-3 {
    padding-left: 4em;
}

/*Some visual effects*/

#navBar .link.main:hover {
    color: rgb(187, 187, 187);
    font-size: 2.3em;
}

#navBar .link:hover {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.15em;
}

#navBar .link:active {
    background-color: #f5f5f5;
    color: #616161;
}

/*
Hiding a button in non-mobile view
*/

#navButton {
    display: none;
}

@media screen and (max-width: 1280px) {

    #navBar .link.main {
        font-size: 1.6em;
    }
    
    #navBar .link.main:hover {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 840px) {
    
    #navBar {
        display: none;
        width: calc(100% - 4em);
    }

    #navBar.active {
        display: inline-flex !important;
        width: calc(100% - 4em);
    }

    #navButton {
        height: 5em;
        position: fixed;
        display: inline-flex;
        bottom: 0;
        width: 100%;
        background-color: rgb(50, 50, 50);
        line-height: 5em;
        z-index: 10002;
    }

    #navButton > * {
        display: inline-block;
        flex-grow: 1;
        line-height: 5em;
        text-align: center;
        color: rgb(187, 187, 187);
    }

    #navButton > p {
        flex-grow: 8;
    }
}