/*Wrapper that makes easier setting the width of the elements*/

.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
    margin-top: 0;
	margin-left: -2em;
}

.row > * {
	box-sizing: border-box;
    padding: 0 0 0 2em;
}

/*
Classes below can be combined like this:
<div class="col-7 off-5 .col-12-wide"></div>
If screen size more than 1680px (about this - later), 
element will occupy 7/12 of width and will have 5/12 width colomns offset leftside, 
if less - 12/12 or 100% of width
*/

/*
Set of classes for description a width of element
col-x, where x - number of shares 12 that the element will occupy
off-x, where x - number of shares 12 that will be ckipped from left side of previous element or border of row
*/
/*Ultra-wide screen (>1680px)*/
.row > .col-1 {
	width: 8.33333%;
}

.row > .off-1 {
	margin-left: 8.33333%;
}

.row > .col-2 {
	width: 16.66667%;
}

.row > .off-2 {
	margin-left: 16.66667%;
}

.row > .col-3 {
	width: 25%;
}

.row > .off-3 {
	margin-left: 25%;
}

.row > .col-4 {
	width: 33.33333%;
}

.row > .off-4 {
	margin-left: 33.33333%;
}

.row > .col-5 {
	width: 41.66667%;
}

.row > .off-5 {
	margin-left: 41.66667%;
}

.row > .col-6 {
	width: 50%;
}

.row > .off-6 {
	margin-left: 50%;
}

.row > .col-7 {
	width: 58.33333%;
}

.row > .off-7 {
	margin-left: 58.33333%;
}

.row > .col-8 {
	width: 66.66667%;
}

.row > .off-8 {
	margin-left: 66.66667%;
}

.row > .col-9 {
	width: 75%;
}

.row > .off-9 {
	margin-left: 75%;
}

.row > .col-10 {
	width: 83.33333%;
}

.row > .off-10 {
	margin-left: 83.33333%;
}

.row > .col-11 {
	width: 91.66667%;
}

.row > .off-11 {
	margin-left: 91.66667%;
}

.row > .col-12 {
	width: 100%;
}

.row > .off-12 {
	margin-left: 100%;
}

/*
Wide screen (<1680px and >1280px)
*/

@media screen and (max-width: 1680px) {

	.row > .col-1-wide {
		width: 8.33333%;
	}

	.row > .off-1-wide {
		margin-left: 8.33333%;
	}

	.row > .col-2-wide {
		width: 16.66667%;
	}

	.row > .off-2-wide {
		margin-left: 16.66667%;
	}

	.row > .col-3-wide {
		width: 25%;
	}

	.row > .off-3-wide {
		margin-left: 25%;
	}

	.row > .col-4-wide {
		width: 33.33333%;
	}

	.row > .off-4-wide {
		margin-left: 33.33333%;
	}

	.row > .col-5-wide {
		width: 41.66667%;
	}

	.row > .off-5-wide {
		margin-left: 41.66667%;
	}

	.row > .col-6-wide {
		width: 50%;
	}

	.row > .off-6-wide {
		margin-left: 50%;
	}

	.row > .col-7-wide {
		width: 58.33333%;
	}

	.row > .off-7-wide {
		margin-left: 58.33333%;
	}

	.row > .col-8-wide {
		width: 66.66667%;
	}

	.row > .off-8-wide {
		margin-left: 66.66667%;
	}

	.row > .col-9-wide {
		width: 75%;
	}

	.row > .off-9-wide {
		margin-left: 75%;
	}

	.row > .col-10-wide {
		width: 83.33333%;
	}

	.row > .off-10-wide {
		margin-left: 83.33333%;
	}

	.row > .col-11-wide {
		width: 91.66667%;
	}

	.row > .off-11-wide {
		margin-left: 91.66667%;
	}

	.row > .col-12-wide {
		width: 100%;
	}

	.row > .off-12-wide {
		margin-left: 100%;
	}
}

/*
Normal screen (<1280px and >980px)
*/

@media screen and (max-width: 1280px) {

	.row > .col-1-normal {
		width: 8.33333%;
	}

	.row > .off-1-normal {
		margin-left: 8.33333%;
	}

	.row > .col-2-normal {
		width: 16.66667%;
	}

	.row > .off-2-normal {
		margin-left: 16.66667%;
	}

	.row > .col-3-normal {
		width: 25%;
	}

	.row > .off-3-normal {
		margin-left: 25%;
	}

	.row > .col-4-normal {
		width: 33.33333%;
	}

	.row > .off-4-normal {
		margin-left: 33.33333%;
	}

	.row > .col-5-normal {
		width: 41.66667%;
	}

	.row > .off-5-normal {
		margin-left: 41.66667%;
	}

	.row > .col-6-normal {
		width: 50%;
	}

	.row > .off-6-normal {
		margin-left: 50%;
	}

	.row > .col-7-normal {
		width: 58.33333%;
	}

	.row > .off-7-normal {
		margin-left: 58.33333%;
	}

	.row > .col-8-normal {
		width: 66.66667%;
	}

	.row > .off-8-normal {
		margin-left: 66.66667%;
	}

	.row > .col-9-normal {
		width: 75%;
	}

	.row > .off-9-normal {
		margin-left: 75%;
	}

	.row > .col-10-normal {
		width: 83.33333%;
	}

	.row > .off-10-normal {
		margin-left: 83.33333%;
	}

	.row > .col-11-normal {
		width: 91.66667%;
	}

	.row > .off-11-normal {
		margin-left: 91.66667%;
	}

	.row > .col-12-normal {
		width: 100%;
	}

	.row > .off-12-normal {
		margin-left: 100%;
	}
}

/*Tablet (<980px and >840px)*/

@media screen and (max-width: 980px) {

	.row > .col-1-narrow {
		width: 8.33333%;
	}

	.row > .off-1-narrow {
		margin-left: 8.33333%;
	}

	.row > .col-2-narrow {
		width: 16.66667%;
	}

	.row > .off-2-narrow {
		margin-left: 16.66667%;
	}

	.row > .col-3-narrow {
		width: 25%;
	}

	.row > .off-3-narrow {
		margin-left: 25%;
	}

	.row > .col-4-narrow {
		width: 33.33333%;
	}

	.row > .off-4-narrow {
		margin-left: 33.33333%;
	}

	.row > .col-5-narrow {
		width: 41.66667%;
	}

	.row > .off-5-narrow {
		margin-left: 41.66667%;
	}

	.row > .col-6-narrow {
		width: 50%;
	}

	.row > .off-6-narrow {
		margin-left: 50%;
	}

	.row > .col-7-narrow {
		width: 58.33333%;
	}

	.row > .off-7-narrow {
		margin-left: 58.33333%;
	}

	.row > .col-8-narrow {
		width: 66.66667%;
	}

	.row > .off-8-narrow {
		margin-left: 66.66667%;
	}

	.row > .col-9-narrow {
		width: 75%;
	}

	.row > .off-9-narrow {
		margin-left: 75%;
	}

	.row > .col-10-narrow {
		width: 83.33333%;
	}

	.row > .off-10-narrow {
		margin-left: 83.33333%;
	}

	.row > .col-11-narrow {
		width: 91.66667%;
	}

	.row > .off-11-narrow {
		margin-left: 91.66667%;
	}

	.row > .col-12-narrow {
		width: 100%;
	}

	.row > .off-12-narrow {
		margin-left: 100%;
	}
}

/*Big telephone (<840px and >736px)*/

@media screen and (max-width: 840px) {

	.row > .col-1-narrower {
		width: 8.33333%;
	}

	.row > .off-1-narrower {
		margin-left: 8.33333%;
	}

	.row > .col-2-narrower {
		width: 16.66667%;
	}

	.row > .off-2-narrower {
		margin-left: 16.66667%;
	}

	.row > .col-3-narrower {
		width: 25%;
	}

	.row > .off-3-narrower {
		margin-left: 25%;
	}

	.row > .col-4-narrower {
		width: 33.33333%;
	}

	.row > .off-4-narrower {
		margin-left: 33.33333%;
	}

	.row > .col-5-narrower {
		width: 41.66667%;
	}

	.row > .off-5-narrower {
		margin-left: 41.66667%;
	}

	.row > .col-6-narrower {
		width: 50%;
	}

	.row > .off-6-narrower {
		margin-left: 50%;
	}

	.row > .col-7-narrower {
		width: 58.33333%;
	}

	.row > .off-7-narrower {
		margin-left: 58.33333%;
	}

	.row > .col-8-narrower {
		width: 66.66667%;
	}

	.row > .off-8-narrower {
		margin-left: 66.66667%;
	}

	.row > .col-9-narrower {
		width: 75%;
	}

	.row > .off-9-narrower {
		margin-left: 75%;
	}

	.row > .col-10-narrower {
		width: 83.33333%;
	}

	.row > .off-10-narrower {
		margin-left: 83.33333%;
	}

	.row > .col-11-narrower {
		width: 91.66667%;
	}

	.row > .off-11-narrower {
		margin-left: 91.66667%;
	}

	.row > .col-12-narrower {
		width: 100%;
	}

	.row > .off-12-narrower {
		margin-left: 100%;
	}
}

/*Mobile (<736px)*/

@media screen and (max-width: 736px) {

	.row > .col-1-mobile {
		width: 8.33333%;
	}

	.row > .off-1-mobile {
		margin-left: 8.33333%;
	}

	.row > .col-2-mobile {
		width: 16.66667%;
	}

	.row > .off-2-mobile {
		margin-left: 16.66667%;
	}

	.row > .col-3-mobile {
		width: 25%;
	}

	.row > .off-3-mobile {
		margin-left: 25%;
	}

	.row > .col-4-mobile {
		width: 33.33333%;
	}

	.row > .off-4-mobile {
		margin-left: 33.33333%;
	}

	.row > .col-5-mobile {
		width: 41.66667%;
	}

	.row > .off-5-mobile {
		margin-left: 41.66667%;
	}

	.row > .col-6-mobile {
		width: 50%;
	}

	.row > .off-6-mobile {
		margin-left: 50%;
	}

	.row > .col-7-mobile {
		width: 58.33333%;
	}

	.row > .off-7-mobile {
		margin-left: 58.33333%;
	}

	.row > .col-8-mobile {
		width: 66.66667%;
	}

	.row > .off-8-mobile {
		margin-left: 66.66667%;
	}

	.row > .col-9-mobile {
		width: 75%;
	}

	.row > .off-9-mobile {
		margin-left: 75%;
	}

	.row > .col-10-mobile {
		width: 83.33333%;
	}

	.row > .off-10-mobile {
		margin-left: 83.33333%;
	}

	.row > .col-11-mobile {
		width: 91.66667%;
	}

	.row > .off-11-mobile {
		margin-left: 91.66667%;
	}

	.row > .col-12-mobile {
		width: 100%;
	}

	.row > .off-12-mobile {
		margin-left: 100%;
	}
}