html, body {
    overflow-x: hidden;
}

#navBar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    padding: 2em;
    background-color: rgb(50, 50, 50);
}

#navBar .link {
    display: block;
    color: rgb(187, 187, 187);
    border-top: solid 1px #e5e5e5;
    text-decoration: none;
    border-bottom: 0;
    padding-left: 1em;
    height: 3em;
    line-height: 3em;
    font-weight: 400;
}

#navBar .link.main {
    font-weight: 500;
    border-top: 0;
    color: rgb(255, 255, 255);
    font-size: 2em;
    padding: 1em 0;
	line-height: 1.5em;
    height: 1.5em;
	letter-spacing: -0.035em;
}

#navBar .link.main:hover {
    color: rgb(187, 187, 187);
    font-size: 2.3em;
}

#navBar .link.depth-1 {
    padding-left: 2em;
}

#navBar .link.depth-2 {
    padding-left: 3em;
}

#navBar .link.depth-3 {
    padding-left: 4em;
}

#navBar .link:hover {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.15em;
}

#navBar .link:active {
    background-color: #f5f5f5;
    color: #616161;
}